<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.neo4j" slot="5.0">
    <resources>
        <resource-root path="hibernate-ogm-neo4j-5.0.1.Final.jar" />
        <resource-root path="neo4j-2.3.5.jar" />
        <resource-root path="neo4j-cypher-2.3.5.jar" />
        <resource-root path="neo4j-kernel-2.3.5.jar" />
        <resource-root path="neo4j-udc-2.3.5.jar" />
        <resource-root path="neo4j-graph-algo-2.3.5.jar" />
        <resource-root path="neo4j-graph-matching-2.3.5.jar" />
        <resource-root path="neo4j-jmx-2.3.5.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate.ogm" slot="5.0" />
        <module name="org.hibernate.hql" slot="1.2.0.Final" />

        <module name="org.hibernate.ogm.internal.parboiled" slot="5.0"/>

        <!-- Separate module to make sure it's not visible to the applications -->
        <module name="org.hibernate.ogm.neo4j.internal" slot="5.0.1.Final" services="import" />

        <module name="javax.api" />
        <module name="javax.persistence.api" />
        <module name="javax.transaction.api" />
        <module name="org.jboss.logging" />
    </dependencies>
</module>
